.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* 
  .custom-scrollbar::-webkit-scrollbar-thumb {
    
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent !important;
  }
  
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none !important;
  }
  
  
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  } */